* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: 0;
    list-style: none;
    overflow-x: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 
-----------------------------
========= VARIABLES =========
-----------------------------
*/
:root {
    /* **## Colors ##** */
    --btn-links: #E97911;
    --secondary: #fff;
    --primary: #000;
    --shadows: #00000015;
    --notification: #FF0000;
    --border: #e4e4e4;

    /* **## Font Weights ##** */
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;

    /* **## Font Size ##** */
    --text-1: 20px;
    --text-2: 24px;
    --text-3: 18px;
    --heading-1: 80px;
    --heading-2: 70px;
    --heading-3: 50px;
    --heading-4: 40px;
    --heading-5: 32px;
    --heading-6: 30px;
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}
.column {
    flex-direction: column;
}
/* 
-----------------------------
========= SHOP PAGE =========
-----------------------------
*/
.shop {
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.shop-container {
    max-width: 1440px;
    width: 90%;
    padding: 20px 0px;
}
.shop-title {
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 2px solid var(--border);
}
.shop-products-container {
    width: 100%;
    padding: 40px 0px;
}
.side-bar {
    flex: 1;
    height: auto;
    padding-right: 40px;
}
.shop-products {
    flex: 4;
    padding-left: 40px;
    border-left: 1px solid var(--border);
}
.products-container {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    padding: 8px;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 4px;
}
.productImage {
    width: 99%;
}
.product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 120px;
}
.product-name {
    font-size: 18px;

}
.product-price {
    color: var(--btn-links);
    font-size: 20px;
}
.product-btn {
    font-size: 14px;
    border: 1px solid var(--primary);
    padding: 10px 0px;
    width: 65%;
    background-color: var(--secondary);
    cursor: pointer;
}