* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-primary: rgb(174, 212, 255);
    --color-secondary: #a0a0a0;
    --color-natural: #fff;
    --color-border: #c2c2c2;
    --color-success: rgb(33, 216, 33);
    --background-blur: #292929d8;
    --box-shadow: #d2d2d25d;

    /* fonts */
    --font-light: 400;
    --font-medium: 500;
    --font-semi-large: 600;
    --font-large: 700;

    --font-s-small: 16px;
    --font-s-normal: 20px;
    --font-s-medium: 26px;
    --font-s-large: 40px;

    /* Border Radius */
    --radius-1: 5px;
    --radius-2: 10px;
    /* Border Width */
    --border-width-1: 1px;
}
h1,
h2,
h3,
h4 {
    color: var(--color-natural);
}

i {
    font-size: 30px;
    color: var(--color-natural);
}
a {
    color: var(--color-border);
}
/*
------------------------------------
========= REUSEABLE STYLING ========
------------------------------------
*/
.flex {
    display: flex;
}
.j-center {
    justify-content: center;
}
.a-center {
    align-items: center;
}
.column {
    flex-direction: column;
}
.large-circle {
    padding: 10px 22px;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
}
.small-circle {
    font-size: 40px;
    color: var(--color-success);
}
.seat {
    color: var(--color-secondary);
}
.box {
    color: var(--color-natural);
    background-color: var(--box-shadow);
    border: var(--border-width-1) solid var(--color-natural);
    border-radius: var(--radius-1);
    padding: 10px 10px;
}
.btn {
    padding: 10px 20px;
    border-radius: var(--radius-2);
    width: 45%;
}

.btn:hover {
    cursor: pointer;
}
/* 
------------------------------------
========== MAIN BACKGROUND =========
------------------------------------
*/
body {
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    padding: 30px 50px;
    background: linear-gradient(120deg, #000000c5 45%, #414141), url('../Images/malcolm-lightbody-l26lodlKh2w-unsplash.jpg') center/cover no-repeat;
    background-blend-mode: hard-light;
}
.main-container {
    width: 45%;
    height: 100%;
    justify-content: space-between;
}
/* 
------------------------------------
============= NAV BAR ==============
------------------------------------
*/

.nav-container {
    height: 50px;
    width: 85%;
    justify-content: space-between;
}

.nav-container h2 {
    padding-right: 40px;
}

.nav-container a{
    color: var(--color-secondary);
    font-size: var(--font-s-normal);
    font-weight: var(--font-medium);
    padding: 12px 20px;
    border-radius: var(--radius-1);
    margin-right: 20px;
}
/* ----- Hover Effect ------ */
.nav-container a:hover {
    background-color: var(--box-shadow);
    border: var(--border-width-1) solid var(--color-natural);
}

/* 
------------------------------------
=========== MAIN INTERFACE =========
------------------------------------
*/

.main-interface-container {
    width: 96%;
    row-gap: 50px;
}
/* -------- INTERFACE TEXTS ------- */
.interface-texts h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-bottom: 10px;
}
.interface-texts h1 {
    font-size: 46px;
    color: var(--color-natural);
    margin-bottom: 10px;
}
.main-interface {
    width: 85%;
    gap: 20px;
}

.first-section {
    justify-content: space-between;
}
.no-display {
    justify-content: space-between;
    width: 47%;
}
.no-display p {
    font-size: 12px;
}
.no-display h3 {
    font-size: 28px;
}

.second-section {
    width: 100%;
}
.slide-display {
    padding: 10px;
}
/* ------- button ----------- */
.btn-1 {
    background-color: red;
}
.btn-2 {
    background-color: var(--color-success);
}

/* 
------------------------------------
============== FOOTER ==============
------------------------------------
*/
footer {
    width: 95%;
    justify-content: space-between;
}

/* 
------------------------------------
============== FORM ================
------------------------------------
*/

.form-container {
    width: 45%;
}